.search-button {
  float: left;
}

.ui.large.button.search-button {
  background-color: #38424f;
  color: white;
}

.ui.large.button.search-button:hover {
  background-color: #2b323e;
  color: white;
}